<configuration>
    <appender name="mask" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.ssdd.eventhub.logging.MaskingPatternLayout">
                <maskPattern>\"content\"\s*:\s*\"(.*?)\"</maskPattern> <!-- content JSON pattern -->
                <!-- Authorization header patterns -->
                <maskPattern>Authorization:\"Basic (.*?)\"</maskPattern>
                <maskPattern>Authorization:\"Bearer (.*?)\"</maskPattern>
                <pattern>%-5p [%d{ISO8601,UTC}] [%thread] %c: %m%n%rootException</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="mask" />
    </root>
</configuration>